$--border-color-base: #DCDFE6 !default;


$--color-white: #fff;  // 白色
$--color-primary: #409eff; // primary 主色
$--color-success: #67c23a; // success 成功
$--color-warning: #e6a23c; // warning 警告
$--color-info: #909399; // info 信息
$--color-danger: #f56c6c; // danger 信息

$--color-text-regular: #606266 !default;

