$--border-color-base: #DCDFE6 !default;


$--color-white: #fff;  // 白色
$--color-primary: #409eff; // primary 主色
$--color-success: #67c23a; // success 成功
$--color-warning: #e6a23c; // warning 警告
$--color-info: #909399; // info 信息
$--color-danger: #f56c6c; // danger 信息

$--color-text-regular: #606266 !default;

$--button-hover-tint-percent: 20% !default;
$--button-active-shade-percent: 10% !default;



$--color-text-placeholder: #C0C4CC !default;
$--border-color-lighter: #EBEEF5 !default;

$--button-disabled-font-color: $--color-text-placeholder !default;
$--button-disabled-background-color: $--color-white !default;
$--button-disabled-border-color: $--border-color-lighter !default;