@charset "UTF-8";
@import '../../../styles/common/var.scss';
button {
  margin: 0;
  padding: 0;
  border: 1px solid transparent; //自定义边框
  outline: none; //消除默认点击蓝色边框效果
  background-color: none;
}

.eg-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: $--color-white;
  border: 1px solid $--border-color-base;
  color: $--color-text-regular;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  &:focus,
  &:hover {
    color: $--color-primary;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
  }
  &.is-round {
    border-radius: 20px;
    padding: 12px 23px;
  }
  &.is-circle {
    border-radius: 50%;
    padding: 12px;
  }
}


@each $type in (primary, success, warning, info, danger) {
  .eg-button--#{$type} {
    @if $type == primary {
      color: $--color-white;
      background-color: $--color-primary;
      border-color: $--color-primary;
      &:focus,
      &:hover {
        background: #66b1ff;
        border-color: #66b1ff;
        color: $--color-white;
      }
      &.is-plain {
        color: $--color-primary;
        background: #ecf5ff;
        border-color: #b3d8ff;
        &:focus,
        &:hover {
          background: $--color-primary;
          border-color: $--color-primary;
          color: $--color-white;
        }
      }
    } @else if $type == success {
      color: $--color-white;
      background-color: $--color-success;
      border-color: $--color-success;
      &:focus,
      &:hover {
        background: #85ce61;
        border-color: #85ce61;
        color: $--color-white;
      }
      &.is-plain {
        color: $--color-success;
        background: #f0f9eb;
        border-color: #c2e7b0;
        &:focus,
        &:hover {
          background: $--color-success;
          border-color: $--color-success;
          color: $--color-white;
        }
      }
    } @else if $type == warning {
      color: $--color-white;
      background-color: $--color-warning;
      border-color: $--color-warning;
      &:focus,
      &:hover {
        background: #ebb563;
        border-color: #ebb563;
        color: $--color-white;
      }
      &.is-plain {
        color: $--color-warning;
        background: #fdf6ec;
        border-color: #f5dab1;
        &:focus,
        &:hover {
          background: $--color-warning;
          border-color: $--color-warning;
          color: $--color-white;
        }
      }
    } @else if $type == info {
      color: $--color-white;
      background-color: $--color-info;
      border-color: $--color-info;
      &:focus,
      &:hover {
        background: #a6a9ad;
        border-color: #a6a9ad;
        color: $--color-white;
      }
      &.is-plain {
        color: $--color-info;
        background: #f4f4f5;
        border-color: #d3d4d6;
        &:focus,
        &:hover {
          background: $--color-info;
          border-color: $--color-info;
          color: $--color-white;
        }
      }
    } @else {
      color: $--color-white;
      background-color: $--color-danger;
      border-color: $--color-danger;
      &:focus,
      &:hover {
        background: #f78989;
        border-color: #f78989;
        color: $--color-white;
      }
      &.is-plain {
        color: $--color-danger;
        background: #fef0f0;
        border-color: #fbc4c4;
        &:focus,
        &:hover {
          background: #f78989;
          border-color: #f78989;
          color: $--color-white;
        }
      }
    }
  }
}
