$html-default-unit:10px;
$base-color:#999;
$legacy-support-for-ie : false;

//repeat list color
$list-repeat-color-1:#fdae35;
$list-repeat-color-2:#7cc76c;
$list-repeat-color-3:#3e9fdd;
$list-repeat-color-4:#ec6163;
$list-repeat-color-5:#efca57;
$list-repeat-color-6:#f58640;
$list-repeat-color-7:#ed60ac;
$list-repeat-color-8:#19c3bd;
